body{
  background-color: black;
  margin: 0;
}

h1{
  margin-top: 30px;
}

.container{
  margin-left: 155px;
  height: 100%;
  width: 84%;
  position: absolute;
}

.bcg-img{
  background-image: url("https://coolwallpapers.me/th700/3068121-apple_apple-computer_boy_code_coder_coding_computer_developer_graphic-designer_guy_hard-work_information-technology_people_technical_working.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.heading{
  margin: 0;
  font-size: 54px;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  top: 0;
  width: 100%;
  height: 15%;
  position: absolute;
  text-align: center;
}

.html{
  position: absolute;
  top: 15%;
  width: 100%;
  height: 27%;
  color: white;
  border-bottom: 2px solid grey;
  margin: 0;
}

.css{
  color: white;
  position: absolute;
  top: 42%;
  width: 100%;
  height: 30%;
  border-bottom: 2px solid grey;
  margin: 0;
}

.js{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 28%;
  color: white;
  margin: 0;
}

.logo-name{
  position: absolute;
  width: 60%;
  height: 100%;
  margin: 0;
}

.logo{
  background-size: contain;
  width: 42%;
  height: 82%;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 0;
  float: left;
}

.logo-desc{
  top: 17%;
  left: -23%;
  position: relative;
  color: white;
  font-size: 105px;
  font-weight: bold;
  font-family: sans-serif;
}

.full-form{
  bottom: 15%;
  left: -22%;
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
